<?xml version="1.0"?>
<appSettings>
  <add key="ida:AppID" value="insert-app-id-here"/>
  <add key="ida:AppSecret" value="insert-app-secret-here"/>
  <add key="ida:RedirectUri" value="insert redirect uri here"/>
  <add key="ida:AppScopes" value="User.Read.All Calendars.Read Contacts.Read Group.Read.All"/>
</appSettings>
